﻿@{
    ViewBag.Title = "Bienvenidos";
}

<div class="jumbotron">
    <h2 class="display-4">Fundación Universitaria Autónoma de las Américas</h2>
    <img class="img-responsive center-block" alt="Bienvenidos" src="http://www.uam.edu.co/wp-content/uploads/2019/01/logo-web-uam.jpg" />
    <!--<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>
<div class="table-hover">
    <div class="row">
        <div class="col-md-6">
            <h2>Admisiones</h2>
            <p>
                Si deseas estudiar en nuestra institucion, haz click en el siguiente enlace y podras registrarte en el programa que desees,
                no importa si eres estudiante Nuevo, de transferencia o deseas hacer un reingreso.
            </p>
            @Html.ActionLink("Admisiones", "Index", "Admisiones", new { area = "" }, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-6">
            <h2>Administración</h2>
            <p>Gestion de Inscripciones.</p>
            <p>Para uso interno unicamente</p>
            @Html.ActionLink("Administración", "Login", "Admin", new { area = "" }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>