﻿@model UAutonomaA.Models.Estudiante

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_doc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_doc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_exp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_exp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais_exp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais_exp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dpto_exp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dpto_exp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad_exp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad_exp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primer_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segundo_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segundo_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primer_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segundo_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segundo_apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupo_Sanguineo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo_Sanguineo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Civil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Civil)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
