﻿@model IEnumerable<UAutonomaA.Models.Estudiante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_doc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_doc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_exp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais_exp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dpto_exp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad_exp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Primer_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segundo_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Primer_apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segundo_apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo_Sanguineo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Civil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_doc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_doc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_exp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais_exp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dpto_exp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad_exp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Primer_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segundo_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Primer_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segundo_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo_Sanguineo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Civil)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
