﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var data = ViewBag.Message;
}

<h3 class="alert-danger"> @data</h3>

<div class="table-hover">
    <div class="row">
        <div class="col-md-6">
            <h2>Admisiones</h2>
            <p>
                Para iniciar el proceso de Registro haz en el boton Iniciar
            </p>
            @Html.ActionLink("Iniciar", "Registro", "Admisiones", new { area = "" }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
