﻿@using UAutonomaA.Models;


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
      
        var data = ViewBag.Error;
    

  

<div class="form-inline">
    <hr />
    <h4>  @Html.Label("Informacion de Inscripcion", htmlAttributes: new { @class = "text-info" })</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-12">
            @Html.Label("Tipo Aspirante*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label>
                            @Html.RadioButton("tipo_aspirante", "Nuevo")
                            @Html.ValidationMessage("tipo_aspirante", "", new { @class = "text-danger" })
                            Nuevo
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                            @Html.RadioButton("tipo_aspirante", "Reingreso")
                            @Html.ValidationMessage("tipo_aspirante", "", new { @class = "text-danger" })
                            Reingreso
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                            @Html.RadioButton("tipo_aspirante", "Transferencia Interna")
                            @Html.ValidationMessage("tipo_aspirante", "", new { @class = "text-danger" })
                            Transferencia Interna
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label>
                            @Html.RadioButton("tipo_aspirante", "Transferencia Externa")
                            @Html.ValidationMessage("tipo_aspirante", "", new { @class = "text-danger" })
                            Transferencia Externa
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            @Html.Label("Modalidad*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.DropDownList("modalidad", ViewBag.Modalidades as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("modalidad", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            @Html.Label("Programa*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.DropDownList("programa", ViewBag.Programas as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("programa", "", new { @class = "text-danger" })

            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            @Html.Label("Sede*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.DropDownList("sede", ViewBag.Sedes as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("sede", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            @Html.Label("Periodo*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                @Html.DropDownList("periodo", ViewBag.Periodos as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("periodo", "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <hr />



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Siguiente" class="btn btn-info" />
        </div>
    </div>
    <h3 class="alert-danger"> @data</h3>

</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
