﻿
@{
    ViewBag.Title = "Inicio Administrador";
}

<h2>Bienvenido Administrador!</h2>

<div class="table-hover">
    <div class="row">
        <div class="col-md-6">        
            @Html.ActionLink("Gestión de Programas", "Index", "Programas", new { area = "" }, new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="row">
        </br>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Gestión de Inscripciones", "Listado", "Admin", new { area = "" }, new { @class = "btn btn-success" })
        </div>
    </div>
</div>

