﻿@using UAutonomaA.Models;
@model IEnumerable<UAutonomaA.Models.Inscripcion>

<h3>Aspirantes Inscritos</h3>
<table class="table-responsive table-bordered table-condensed table-hover">
    <tr>
        <th>
            @Html.DisplayName("Estado")
        </th>
        <th>
            @Html.DisplayName("Sede")
        </th>
        <th>
            @Html.DisplayName("Programa Academico")
        </th>
        <th>
            @Html.DisplayName("Periodo Academico")
        </th>
        <th>
            @Html.DisplayName("Tipo de Documento")
        </th>
        <th>
            @Html.DisplayName("Numero de Documento")
        </th>
        <th>
            @Html.DisplayName("Nombres")
        </th>
        <th>
            @Html.DisplayName("Apellidos")
        </th>
        <th>
            @Html.DisplayName("Numero de Telefono")
        </th>
        <th>
            @Html.DisplayName("Numero de Celular")
        </th>
        <th>
            @Html.DisplayName("Correo")
        </th>       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Programa.Sede)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Programa.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.Tipo_doc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.Numero_doc)
        </td>
        <td>
            @Html.Label(item.Estudiante.Primer_nombre + " " + item.Estudiante.Segundo_nombre)
        </td>
        <td>
            @Html.Label(item.Estudiante.Primer_apellido + " " + item.Estudiante.Segundo_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.Correo)
        </td>
    </tr>
}

</table>
